Calculate the t-values for the following numbers:

1. ğ‘¦1=5, ğ‘¦2=8, ğ‘ 1=1, ğ‘ 2=3, ğ‘1=200, ğ‘2=500
2. ğ‘¦1=1090, ğ‘¦2=999, ğ‘ 1=400, ğ‘ 2=30, ğ‘1=900, ğ‘2=100
3. ğ‘¦1=45, ğ‘¦2=40, ğ‘ 1=45, ğ‘ 2=40, ğ‘1=2000,  ğ‘2=2000

In [3]:
y1 = 5
y2 = 8
s1 = 1
s2 = 3
n1 = 200
n2 = 500

t_top = y1 - y2
t_bottom = (s1 ** 2 / n1 + s2 ** 2 / n2) ** 0.5
t_value = t_top / t_bottom

print(t_value)

-19.78141420187361

In [4]:
y1 = 1090
y2 = 999
s1 = 400
s2 = 30
n1 = 900
n2 = 100

t_top = y1 - y2
t_bottom = (s1 ** 2 / n1 + s2 ** 2 / n2) ** 0.5
t_value = t_top / t_bottom

print(t_value)

6.658536585365854

In [5]:
y1 = 45
y2 = 40
s1 = 45
s2 = 40
n1 = 2000
n2 = 2000

t_top = y1 - y2
t_bottom = (s1 ** 2 / n1 + s2 ** 2 / n2) ** 0.5
t_value = t_top / t_bottom

print(t_value)

3.7139067635410377